<form role="search" method="get" action="https://www.google.com/search">
  <input type="search" placeholder="Search..." value="" name="q" title="Search for:">
  <input type="hidden" name="sitesearch" value="www.philipdaniels.com/blog">
  <button type="submit" value="Search"/>
</form>

{{ range . }}
<li>
  <span class="list__title--small">
    <a href="{{ .RelPermalink }}" {{if .Draft}}class="draft"{{end}}>{{ .Title }}</a>
      {{if not .Date.IsZero}}
      <time class="pull-right hidden-tablet">{{.Date.Format ("02 Jan 2006")}}</time>
      {{end}}
  </span>
</li>
{{ end }}
