/* The background color for the whole page */
body { background-color: #eee8d5; }

/* The little "extras" menu at the top left */
div.extras { background-color: #839496; }

/* Links appear in the extras menu, the (more) text and the popup dialog */
a { color: #00b7ff; }

/* The foreground color for the informative text */
div.info { color: black; }

/* Define background colors for the cheatsheet sections */
.cs0 { background-color: #ffdd3a }
.cs1 { background-color: #ff7b3A }
.cs2 { background-color: #e449a1 }
.cs3 { background-color: #af4fdD }
.cs4 { background-color: #507bd5 }
.cs5 { background-color: #1cb1dA }
.cs6 { background-color: #0fd55C }

/* Styling of the SWILR boxes */
.boxoff    { fill: #839496; }
.boxon     { fill: #00b7ff; }
.boxlabel  { font: 20px sans-serif; }
.arrowline { fill: blue; }
.arrowhead { stroke: blue; }

/* The style of the heading in each cheatsheet section */
div.section h2 { border-bottom: 1px solid black; }

